*.DS_Store
*.json
source/.obsidian/*
themes/.DS_Store
.DS_Store
VidHub*
node_modules
yarn.lock
yarn.lock

source/_posts/.obsidian/plugins/autoDescription
source/_posts/.obsidian/plugins/editing-toolbar/main.js
source/_posts/.obsidian/plugins/editing-toolbar/styles.css

public/
.elog.env
